{{!-- <div class="container-fluid">
    <section class="p-6">
      <div class="d-flex justify-content-center align-items-center">
        <div class="container text-center">
          <div>
            <h1 class="p-5 mt-5 display-4 text-warning" id="headerA">Looking for Wings? </h1>
            <div>
              <div class="square" id="square_homepage">
              <h2 class="display-4">Welcome to</h2>
              <br>
              <h1 class="display-2">Where's My Wings!</h1>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div> --}}


  <div class="jumbotron text-center">
    <h1>Where's My Wings?</h1>
    <p>Lookin for wings in all the right places.</p>
  </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>About WMW?</h2><br>
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.</h4><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <br><button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-sm-4">
          {{!-- <span class="glyphicon glyphicon-signal logo"></span> --}}
        </div>
      </div>
    </div>

    
    <!-- Container (Portfolio Section) -->
    <div id="portfolio" class="container-fluid text-center bg-grey">
      <h2>Vendors Of The Week</h2><br>
      <h5>Check out some of ATL's classic wing spots.</h5>
      <div class="row text-center slideanim">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="" alt="vendor A" width="400" height="300">
            <p><strong>Vendor A</strong></p>
            <p>some stuff</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="" alt="Vendor B" width="400" height="300">
            <p><strong>Vendor Bk</strong></p>
            <p>some stuff</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="" alt="Vendor C" width="400" height="300">
            <p><strong>Vendor C</strong></p>
            <p>some stuff</p>
          </div>
        </div>
      </div><br>
    </div>
    
