<div class="container-fluid">

  <div class="row p-6">

    <div class="col">
    </div>

        <div class=" d-flex card border-dark">

          <form class='login-form form-group card-body'>

          
            <div class='input-group input-group-lg mb-3'>
              <input id='user-login' class='input' type='name' placeholder='Username'/>
            </div>
          
            <div class='input-group input-group-lg mb-3'>
              <input id='password-login' class='input' type='password' placeholder='Password'/>
            </div>
            <button id='loginbtn' class='button text-white'>Login</button>
        </form>

    </div>

  <div class="col">
  </div>

  </div>

</div>

<script src='./js/login.js'></script>