<div class="container-fluid text-center">
        <div class="d-flex justify-content-center p-5">
        <button class="button mr-5" id="eav">EAV</button>
        <button class="button mr-5" id="midtown">Midtown</button>
        <button class="button" id="mozleyPark">Mozley Park</button>
        </div>
        <div id="map" class="container-fluid" style="height: 610px; width:100%">
        </div>

  
</div>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src='./js/map.js'></script>