 <div class="div-center">
  <div class="content">

  <h3>Sign Up</h3>
  <form class="form signup-form">
  <div class="form-group">
    <input class="input form-control" type="text" id="user-signup" placeholder='Username'/>
  </div>
  <div class="form-group">
    <input class="input form-control" type="password" id="password-signup" placeholder='Password'/>
    <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
  </div>

    <button class="btn btn-secondary" type="submit">Sign Up</button>

</form>
</div>

</div>
<script src="/js/signup.js"></script>