html, body {
  height: 100%;
}

body {
  font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  /* font-family: Montserrat, sans-serif; */
  /* font-family: 'Barlow', sans-serif;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Staatliches', cursive; */
  /* background-color: #F5EED2;
  background-image: url("../images/Background.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box; */
}


/* ---------- JUMBOTRON ------------- */

.jumbotron {
  background-color: #E67300;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}

.container-fluid {
  padding: 60px 50px;
}

    h1{
      font-family: 'Rubik Mono One', sans-serif;
      text-shadow: 2px 2px 5px rgb(74, 49, 20);
    }

    h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
    }
  
    h5 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
    }

/* VENDOR SLIDES HOME */
    .bg-grey {
      background-color: #f6f6f6;
    }

    .slideanim {
      visibility: hidden;
    }
  
    .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
    }

        
button {
  font-family: 'News Cycle', sans-serif;
  background-color: #cd8a06 !important;
  width: 10rem;
  margin: 3px;
  font-weight: bold;
}


    footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
    }

/* -------- NAVIGATION BAR ------------- */
.navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

/* .navbar {
  font-family: 'News Cycle', sans-serif;
  font-size: large;
  border-bottom: 2px solid orange;
} */

/* .navbar a:hover {
  background-color: #9cd1f8;
}

.nav-link {
  color:sienna;
  margin-right: 10px;
} */


/* #square_homepage {
  background-color: sienna;
  color: white;
  text-align: center;
  width: 800px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
} */

#pin {
font-size: 30px;
}

.login-form {
  font-family: 'News Cycle', sans-serif;
}

.signup-form {
  font-family: 'News Cycle', sans-serif;
}

#dashboard {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-style: italic;
}

@media screen and (min-width: 678px) {
}

@media screen and (max-width: 768px) {
.col-sm-4 {
  text-align: center;
  margin: 25px 0;
}
}
    /* 
    potential button to bring user to top of page
    
    .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
    }
  
    @keyframes slide {
      0% {
        opacity: 0;
        transform: translateY(70%);
      }
  
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  
    @-webkit-keyframes slide {
      0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      }
  
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
.btn-lg {
  width: 100%;
  margin-bottom: 35px;
} */