html,
body {
  margin: 0;
  height: 100%;
}
.navbar {
  
  border-bottom: 2px solid black;
}

.navbar a:hover {
  background-color: #9cd1f8;
}
.navbar-text {
  
  margin-right: 10px;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  display: table;
}

.div.content {
  display: table-cell;
  vertical-align: middle;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}