#password-login{
    width: 400px;
    position: relative;
  }
  #password-login input[type="password"],
  #password-login input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
  }
  .fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }